# Environment variables
.env

# Logs
logs
*.log

# Build files
*.exe
*.out
*.bin

# Go build folders
bin/
tmp/

# Dependency directories (not needed for Go, but safe)
vendor/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?